body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 70vw;
    margin-left: 3vw;

}

.header {
    text-align: center;
    margin-bottom: 2rem;

}

.title {
  color: #2e8b57;
  font-size: 5em;
  margin: 0;
}

.description {
  color: #2e8b57;
  font-size: 1.5em;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  width: 100%;
}

.dayColumn,
.myClassesColumn {
  background-color: rgba(46, 139, 87, 0.3);
  border-radius: 10px;
  padding: 10px;
  min-height: 75vh;
  overflow-y: auto;
  min-width: 10vw;
}

.dayColumn h3,
.myClassesColumn h3 {
  text-align: center;
  color: #2e8b57;
}

.classCard {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-align: center;
  transition: background-color 0.3s ease;
}

.classCard:hover {
  background-color: rgba(46, 139, 87, 0.6);
}
